.country {
    border: 1px black solid;
    height: 12vh;
    margin-bottom: 1vh;
    padding-left: 2vh;
    font-size: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cityHeading {
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
}

.city {
  border: 1px black solid;
    height: 10vh;
    margin-bottom: 1vh;
    padding-left: 2vh;
    font-size: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: pink;
}

.citiesAccordion {
  height: 200px;
  background-color: burlywood;
}