.country {
  /*border: 1px black solid;*/
  box-shadow: 6px 4px 4px  lightgrey;
  height: 12vh;
  margin-bottom: 2vh;
  padding-left: 2vh;
  margin-left: 20vw;
  margin-right: 20vw;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.imgTitle {
  display: flex;
  align-items: center;
  font-size: 4vh;
}
.countryNameTitle {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}

.cityHeading {
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
}

.allCities {
  height: 50px;
  width: 57vw;
  border: solid 1px black;
  margin-bottom: 1vh;
  font-size: 2vh;
}

.cityDiv {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}

.langVisa {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
}

.langVisa > div:nth-child(1) {
  margin-right: 10px;
}

.countrySideInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 11;
  padding: 10px;
  font-size: 15px;
}

.countryFlag {
  height: 30px;
  width: 50px;
}

.panel {
  padding: 0 18px;
  padding-left: 2vh;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-bottom: 1vh;
  margin-left: 20vw;
  margin-right: 20vw;
  box-shadow: 6px 4px 4px  lightgrey;
}
