body {
  padding: 0;
  margin: 0;
}


.country {
  /*border: 1px black solid;*/
  box-shadow: 6px 4px 4px lightgrey;
  height: auto;
  margin-bottom: 2vh;
  padding: 2vh;
  margin-left: 18vw;
  margin-right: 18vw;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #99cccc34;
  transition: background-image, background-color 1s;
}

.country:active {
  background-color: #99cccc5d;
}
.imgTitle {
  display: flex;
  align-items: center;
  font-size: 4vh;
}
.countryNameTitle {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.cityHeading {
  font-size: 25px;
  padding: 2vh;
  margin-top: 1vh;
  font-weight: bold;
}
/*.allCities {
  width: 57vw;
  margin-bottom: 1vh;
  font-size: 3vh;
} */

/*.cityDiv {
  display: flex;
  flex-direction: column;
  margin: 1vh;
}*/
.oneCity,
.oneUniversity {
  border: black solid 1px;
  padding: 1.5vh;
  margin: 0.5vh;
}
.langVisa {
  display: flex;
  font-size: 15px;
  margin-top: 10px;
}

.langVisa > div:nth-child(1) {
  margin-right: 10px;
}

.countrySideInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 3;
}
.languageVisaDiv {
  margin-top: 6vh;
  margin-bottom: 0;
}
.countryFlag {
  height: 30px;
  width: 50px;
}

.infoAbout {
  padding: 0 18px;
  padding-left: 2vh;
  
  /* overflow: hidden; */
  margin-bottom: 1vh;
  margin-top: 1.5vh;
  grid-column: 1/4;
  margin-left: 1vw;
  margin-right: 1vw;
}
.firstColumn {
  display: flex;
  flex-direction: row;
}
.active {
  flex-direction: column;
  height: auto;
}

.idDiv {
  display: flex;
  flex-direction: column;
}

.cityName {
  font-weight: bold;
}

.cityName:hover {
  color: coral;
}

.infoAboutCity {
  display: flex;
  flex-direction: column;
}

.cityName {
  font-size: 2.5vh;
}

.cityText {
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 1vh;
}

.middleCityDiv {
  display: flex;
  height: 40vh;
}

.entertainment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.entertainmentHeading {
  font-size: 2vh;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 1vh;

}
.entertainmentPlaces {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.entPlace {
  flex-grow: 1;
  /* flex-basis: 0; */
}

.cityNameAndSun {
  display: flex;
  justify-content: space-between;
}

.cityImageDiv {
  flex-grow: 1;
  flex-basis: 0;
}
.cityImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.oneUniversity > div:nth-child(1) {
  font-weight: bold;
}

.oneProgram {
  border: 1px solid black;
  margin-bottom: 1vh;
}

.students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exchanges {
  grid: 3;
}

.programN {
  cursor: pointer;
}

.programmeHeading {
  font-weight: bold;
  padding: 1vh;
}

.infoUni {
  border: 1px solid black;
}

.programDiv {
  padding: 1vh;
}

.programName {
  font-weight: bold;
}

.programName:hover {
  color: coral;
}