body {
  height: 100vh;
  margin: 0;
}

header {
  height: 15vh;
  padding: 5vh;
  box-sizing: border-box;
}

header > h1 {
  font-size: 35px;
}

footer {
  height: 25vh;
  background-color: burlywood;
}

h1 {
  margin: 0;
  font-size: 60px;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
}

input {
  border: 1px solid black;
  margin-bottom: 1vh;
}


/* Accordion */
.active, .accordion:hover {
  background-color: #ccc; 
}

.active {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.panel {
  padding: 0 18px;
  padding-left: 2vh;
  display: none;
  background-color: white;
  overflow: hidden;
  border:1px solid black;
  margin-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
/* Accordion */

/* footer */
footer {
  display: flex;
  flex-direction: column;
}

footer > div:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 20px;
}

footer > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer > div:nth-child(2) > div:nth-child(1) {
  grid-column: 1;
  display: flex;
}

footer > div:nth-child(2) > div:nth-child(2) {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
}

footer > div:nth-child(2) > div {
  padding: 15px;
}

footer > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  margin-right: 10px;
}

.contactInfo {
  grid-column: 3;
  height: 50px;
  padding: 45px;
  padding-right: 0px;
  padding-bottom: 25px;
}

.pageLinks {
  grid-column: 4;
  padding: 45px;
  padding-left: 0px;
  padding-bottom: 25px;
}

.logoFooter {
  height: 100px;
  width: 400px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Ersättas med logga */
.logoFooter > div:nth-child(1) {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: lightgoldenrodyellow;
}

.pageLinks {
  display: flex;
  flex-direction: column;
}
/* footer */

/* scroll knapp */
.topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 90px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightcoral; /* Set a background color */
  height: 60px;
  width: 60px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 100px; /* Rounded corners */
  font-size: 50px; /* Increase font size */
}
/* scroll knapp */

.normalImage {
  height: 70px;
  width: 100px;
  padding-right: 2vh;
  margin-top: 10px;
}
