:root {
}

body {
  height: 100vh;
  margin: 0;
}

header {
  height: 15vh;
  background-color: bisque;
}

footer {
  height: 25vh;
  background-color: burlywood;
}

h1 {
  margin: 0;
  font-size: 60px;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-left: 15vw;
  margin-right: 15vw;
}

input {
  border: 1px solid black;
}
