header {
  height: 15vh;
  background-color: bisque;
}

nav {
  height: 30vh;
  background-color: blanchedalmond;
}

footer {
  height: 25vh;
  background-color: burlywood;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: coral;
}