.programmeDiv {
  border: black solid 1px;
  height: auto;
  margin-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.programmeDiv:hover {
  cursor: pointer;
}

.panel {
  padding: 0 18px;
  padding-left: 2vh;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 1vh;

  grid-column: 1 / span 3;
}

.programmeInfo {
  padding: 0 18px;
  padding-left: 2vh;
  background-color: white;
  overflow: hidden;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.programSideInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 3;
  padding: 10px;
  font-size: 15px;
}

.countryFlag {
  height: 20px;
  width: 40px;
  margin-bottom: 5px;
}

.position {
  display: flex;
}

.position > div:nth-child(1) {
  margin-right: 10px;
}

.students {
  display: flex;
  padding: 10px;
  padding-left: 0px;
}

.localS,
.exchangeS {
  flex-grow: 1;
}

.headerContainer {
  display: flex;
  padding-left: none;
  padding-top: 10px;
}

.entryHead,
.graduatesHead {
  flex-grow: 1;
}

.grades {
  display: flex;
}

.grades > div {
  margin-right: 10px;
}

.reviewHeader {
  font-weight: bold;
  margin-top: 1vh;
}

.graduates {
  display: flex;
}

.graduates > div {
  margin-right: 10px;
}
.active {
  margin-bottom: 2vh;
  height: auto;
}

.gradesDiv {
  display: flex;
}

.grades,
.graduates {
  flex-grow: 1;
}

.reviewCard {
  border: 1px solid;
  width: auto;
  height: auto;
}

.commentDate {
  display: flex;
  justify-content: end;
}

.commentContent {
  display: flex;
}

.stars {
  flex-grow: 1;
}

.textC {
  flex-grow: 2;
}
