main {
  margin-left: 18vw;
  margin-right: 18vw;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.iconLinks {
  grid-column: 3;
  margin: 10px;
}

.iconLinks > a {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.iconLinks > a:nth-child(1):hover {
  fill: #f0a476;
}

.iconLinks > a:nth-child(2):hover {
  fill: #99cccc;
  ;
}

.iconLinks > a > #countrySymbol {
  width: 50px;
  height: 50px;
}

.iconLinks > a > .programIcon {
  width: 50px;
  height: 50px;
}

#titleHead {
  font-size: 4vh;
  position: absolute;
  font-family: var(--bigHeaders);
  color: black;
  text-decoration: none;

  top: 53px;
  left: 200px;
}

#titleHead {
  font-size: 4vh;
  position: absolute;
  font-family: var(--bigHeaders);
  color: black;
  text-decoration: none;

  top: 53px;
  left: 200px;
}

#uniSymbolWrapper {
  padding-bottom: 5vh;
}

#uniSymbol {
  height: 120px;
  width: 120px;
  margin: 2vh;
}

.universityDiv {
  box-shadow: 6px 4px 4px lightgrey;
  height: auto;
  margin-bottom: 2vh;
  padding: 1.5vh;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--cBlue);
}

.position > div {
  display: flex;
  flex-direction: row;
}

.active {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  height: auto;
  display: flex;
  flex-direction: column;
}

.infoAbout {
  padding-right: 2vh;
  padding-left: 2vh;
  background-color: var(--cBlue);
  overflow: hidden;

  margin-bottom: 1vh;
  flex-direction: column;
  
  padding-top: 1vh;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.top > div:nth-child(1) {
  grid-column: 1/2 span;
  font-size: larger;
  font-family: var(--smallHeaders);
}
.sideHead {
  margin-right: 0.5vw;
  font-weight: bold;
}
.programmeHeading {
  font-family: var(--smallHeaders);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  padding-left: 0px;
  margin-bottom: 1vh;
  border-top: black solid 1px;
  padding-top: 2vh;
}

.programName {
  border: 1px solid black;
  margin-bottom: 1vh;
  padding: 1vh;
}

.position {
  display: flex;
  font-family: var(--smallHeaders);
}

.position > div:nth-child(1) {
  margin-right: 10px;
}

.universitySideInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 3;
  font-size: 1.5vh;
}

.countryFlag {
  height: 20px;
  width: 40px;
  margin-bottom: 1vh;
}

.allProgrammes {
  margin-bottom: 1vh;
}

.pDiv > div {
  margin-bottom: 1vh;
}

.programDiv > div:nth-child(2) {
  border: 1px solid black;
  border-top: none;
  padding: 1vh;
  display: none;
}

.students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exchanges {
  grid: 3;
}

.programN {
  cursor: pointer;
}

.idDiv {
  display: flex;
  flex-direction: column;
}

.omdomen {
  font-weight: bold;
}

#slimAdd {
  width: 100%;
  height: 90px;
}

.slimAdd {
  height: 90px;
  margin-bottom: 3vh;
  display: inline-block;
  margin-top: 2vh;
}

.annons2 {
  width: 10vw;
  height: 20vh;
  position: absolute;
}

.annons2:nth-child(1) {
  left: 4vw;
  top: 800vh;
}

.annons2:nth-child(2) {
  left: 85vw;
  top: 50vh;
}

.addSquare {
  width: 10vw;
  height: 20vh;
}