main {
  margin-left: 18vw;
  margin-right: 18vw;
}

.universityDiv {
  box-shadow: 6px 4px 4px lightgrey;
  height: auto;
  margin-bottom: 2vh;
  padding: 2vh;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  transition: background-image, background-color 1s;
}

.universityDiv:hover {
  background-image: linear-gradient(
    rgba(80, 255, 246, 0.678),
    rgb(255, 255, 255)
  );
}

.active {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  height: auto;
  display: flex;
  flex-direction: column;
}

.infoAbout {
  padding-right: 2vh;
  padding-left: 2vh;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  margin-bottom: 1vh;
  flex-direction: column;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.top > div:nth-child(1) {
  grid-column: 1/2 span;
}

.programmeHeading {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  padding-left: 0px;
}

.programName {
  border: 1px solid black;
  margin-bottom: 1vh;
}

.position {
  display: flex;
}

.position > div:nth-child(1) {
  margin-right: 10px;
}

.universitySideInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 3;
  padding: 10px;
  font-size: 15px;
}

.countryFlag {
  height: 20px;
  width: 40px;
  margin-bottom: 5px;
}

.allProgrammes {
  margin-bottom: 1vh;
}

.pDiv > div {
  margin-bottom: 1vh;
}

.programDiv > div:nth-child(1) {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}

.programDiv > div:nth-child(2) {
  font-weight: bold;
  border: 1px solid black;
  border-top: none;
  padding: 10px;
  display: none;
}

.students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exchanges {
  grid: 3;
}

.programN {
  cursor: pointer;
}

.idDiv {
  display: flex;
  flex-direction: column;
}
