.universityDiv {
    border: black solid 1px;
    height: 8vh;
    margin-bottom: 1vh;
    padding-left: 1vh;
    font-size: 2vh;

    display: flex;
    align-items: center;
}

.panel {
    padding: 0 18px;
    padding-left: 2vh;
    display: none;
    background-color: white;
    overflow: hidden;
    border:1px solid black;
    margin-bottom: 1vh;
}

.programHeader {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}